@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <h3 class="mb-4">Recent News</h3>

    <div class="row">
        @foreach (var item in Model.FeedItems)
        {
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm card-height">
                    <div class="position-relative ">
                        <img src="@item.Image" alt="Alternate Text" height="170" />
                        <div class="position-absolute bottom-0 bg-gradient-black w-full p-2">
                            <p class="text-sm text-end text-white mb-0" id="publish-date-@item.Id" data-date="@item.PublishDate"></p>
                        </div>
                    </div>
                    

                    <div class="card-body">
                        <i class="bi bi-bookmark text-yellow"></i>
                        <a href="@item.Uri" target="_blank" class="card-title text-main text-md fw-bold link ">@item.Title</a>
                        <p class="card-subtitle text-sm mt-2">@item.Description</p>
                    </div>
                </div>
            </div>
        }
       </div>
</div>

<script src="~/js/home.js" type="text/javascript"></script>